<div ng-controller="activityController" class="page-header">
    <h1>Activities</h1>
</div>

<div  ng-show="message.status" class="alert {{message.class}} alert-dismissible" role="alert">
    <button class="close" ng-click="removeAlert()"><span aria-hidden="true">&times;</span></button>
    <strong>{{message.title}}</strong> {{message.text}}.
</div>

<div class="panel panel-default">
    <div class="panel-heading">List of Activities Registered</div>
    <div class="panel-body">
        <button type="button" class="btn btn-default">New activity</button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Number of Places</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities">
                    <th scope="row">{{activity.id}}</th>
                    <td>{{activity.nome}}</td>
                    <td>{{activity.qtdVagas}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs" type="submit">Update</button>
                        <button class="btn btn-danger btn-xs" ng-click="deleteActivity(activity.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-hide="activities.length" class="alert alert-info" role="alert" style="margin: 10px;">
            <strong>Heads up!</strong> There are no registered activities.
        </div>
    </div>
</div>